$primaryColor: #FF00FF;
$memberBgColor: #999999;
$memberBorderColor: darken( $memberBgColor,10% );
$nameColor: black;
$backgroundLight: #eeeeee;
$backgroundDark: #cccccc;
$blackgroundColor: #111111;

body {
  text-align: center;
  font-family: Verdana;
  font-size: 1.5em;
  padding: 0px;
  margin: 0px;
  background: $backgroundLight;
  background: -webkit-radial-gradient(center, circle, $backgroundDark, $backgroundLight);
  background: radial-gradient(circle at center, $backgroundDark, $backgroundLight);

  h1 {
    color: $primaryColor; 
  }
}

@for $i from 2 through 24 {
  #team-members #member-#{$i} { background-image:url("../images/september_students/"+$i+".png");}
}

#team-members #blackground{
  position: fixed;
  background-color: $blackgroundColor;
  z-index: -1;
  right:-10000px;
  left:-10000px;
  top:-100000px;
  bottom: -10000px;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;

}
.center-wrapper{
  margin-left: auto;
  margin-right: auto;
}

#team-members .member
{                   
  display: inline-block;
  background-repeat: no-repeat; 
  width: 207px;
  height: 170px; 
  background-color: $memberBgColor;
  margin: auto;  
  background-position: center; 
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 5px;
  filter: sepia(0);
  -webkit-filter: sepia(0);
  -moz-filter: sepia(0);
  -o-filter: sepia(0);
  -ms-filter: sepia(0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
#team-members .member img
{
  visibility: hidden;
  float:left;
  opacity: 0;
    -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
}
#team-members {
  position: relative;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  display: block;
  -webkit-transition: all 2.6s ease;
  -moz-transition: all 2.6s ease;
  -o-transition: all 2.6s ease;
}

#team-members .member div.name {
  font-family: arial;
  font-size: 1em;
  position: relative;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

#team-members:hover  .member 
{                   
  filter: sepia(1);
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  -o-filter: sepia(1);
  -ms-filter: sepia(1);

}

#team-members:hover .member:hover{
  filter: sepia(0);
  -webkit-filter: sepia(0);
  -moz-filter: sepia(0);
  -o-filter: sepia(0);
  -ms-filter: sepia(0);
  opacity: 1;
  background-position: top;
  border-color: $memberBorderColor;
}

#team-members:hover .member:hover .name{
  opacity: 1;
  color: $nameColor;
}

#team-members:hover .member:hover img{
  visibility: visible;
  opacity: 1

}

#team-members:hover .member:hover ~#blackground{
  opacity: 1;
}


#team-members .member:active {
  

}
