$primaryColor:      #FF00FF;
$memberBgColor:     #999999;
$memberBorderColor: darken( $memberBgColor,18% );
$nameColor:         white;
$backgroundLight:   #eeeeee;
$backgroundDark:    #cccccc;
$blackgroundColor:  #111111;
$lighthouseRed:     #ff6867;

body {
  text-align: center;
  font-family:Verdana;
  font-size:  1em;
  padding:    0px;
  margin:     0px;
  background: $backgroundLight;
  background: -webkit-radial-gradient(center, circle, $backgroundDark, $backgroundLight);
  background: radial-gradient(circle at center, $backgroundDark, $backgroundLight);
}

#team-members {
  position:           relative;
  max-width:          660px;
  margin-left:        auto;
  margin-right:       auto;
  text-align:         center;
  display:            block;
  -webkit-transition: all 2.6s ease;
  -moz-transition:    all 2.6s ease;
  -o-transition:      all 2.6s ease;


  @for $i from 2 through 24 {
    #member-#{$i} { background-image:url("../images/september_students/"+$i+".png");}
  }

  #blackground{
    position: fixed;
    background-color: $blackgroundColor;
    z-index: -1;
    color: $lighthouseRed;
    text-align: right;
    font-size: 10em;
    right:-10000px;
    left:-10000px;
    top:-100000px;
    bottom: -10000px;
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition:    all 0.6s ease;
    -o-transition:      all 0.6s ease;
  }

  .center-wrapper{
    margin-left: auto;
    margin-right: auto;
  }
  
  .member{                   
    display: inline-block;
    width: 207px;
    min-height: 170px; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-color: $memberBgColor;
    margin: auto;  
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    margin-bottom: 5px;
    filter: sepia(0);
    -webkit-filter: sepia(0);
    -moz-filter:    sepia(0);
    -o-filter:      sepia(0);
    -ms-filter:     sepia(0);
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -o-transition:      all 0.2s ease;
  
    img{
      visibility: hidden;
      float:left;
      opacity: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition:    all 0.3s ease;
      -o-transition:      all 0.3s ease;
    }
    div.name {
      font-family: arial;
      font-size: 1.3em;
      color: white;
      position: relative;
      text-align: center;
      top:4px;
      opacity: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition:    all 0.3s ease;
      -o-transition:      all 0.3s ease;
      text-shadow:  rgb(204, 204, 204) 0px 1px 0px, 
                    rgb(120, 120, 120) 0px 2px 0px,
                    rgb(80, 80, 80) 0px 3px 0px, 
                    rgb(80, 80, 80) 0px 4px 0px, 
                    rgba(50, 50, 50,0.4) 0px 2px 0px;
    }
  }
}

#team-members:hover  .member 
{                   
  filter:         sepia(1);
  -webkit-filter: sepia(1);
  -moz-filter:    sepia(1);
  -o-filter:      sepia(1);
  -ms-filter:     sepia(1);
}

#team-members:hover .member:hover{
  filter:         sepia(0);
  -webkit-filter: sepia(0);
  -moz-filter:    sepia(0);
  -o-filter:      sepia(0);
  -ms-filter:     sepia(0);
  opacity: 1;
  background-position: top;
  border-color: $memberBorderColor;
}

#team-members:hover .member:hover .name{ display: block; opacity: 1; color: $nameColor;}
#team-members:hover .member:hover img{ visibility: visible; opacity: 1;}
#team-members:hover .member:hover ~#blackground{ opacity: 1;}
